@font-face {
    font-family: DM_Sans-Bold;
    src: url(../Font/DMSans/DMSans-Bold.ttf);
}

@font-face {
    font-family: DM_Sans;
    src: url(../Font/DMSans/DMSans-Medium.ttf);
}

@font-face {
    font-family: Lato-Reg;
    src: url(../Font/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../Font/Lato/Lato-Bold.ttf);
}

/*HEADER*/
header {
    padding: 35px;
}

.linkHome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.linkHome img {
    width: 50px;
    margin: auto;
}

.linkHome h1 {
    font-family: DM_Sans-Bold, 'sans-serif';
    font-size: 36px;
    color: #D04F4F;
}

/*MAIN*/
main {
    width: 90%;
    margin: auto;
}

/*SEARCH BAR*/
.divSearch {
    position: relative;
    display: flex;
}

#searchBy {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #E7E7E7;
    margin-bottom: 15px;
}

.searchBtn {
    position: absolute;
    top: 40%;
    right: -2%;
    transform: translate(-98%, -50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.searchBtn img {
    width: 25px;
}

/*SORT BY*/
.sortSection {
    display: flex;
    max-width: 500px;
    margin-bottom: 35px;
    justify-content: space-between;
    font-family: DM_Sans, 'sans-serif';
    color: #fff;
}

.divIngredients, .divDevices, .divTools {
    position: relative;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding-left: 10px;
}

.arrowDown {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    cursor: pointer;
}

.divIngredients {
    background-color: #3282F7;
}

.divDevices {
    background-color: #68D9A4;
}

.divTools {
    background-color: #ED6454;
}

/*REGISTRE*/

.registre {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    height: 400px;
    margin: 35px 0;
}

.image {
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
    background-color: #C7BEBE;
}

.descript {
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 75px 1fr;
    width: 100%;
    height: 50%;
    border-radius: 0 0 5px 5px;
    background-color: #E7E7E7;
    overflow: hidden;
    text-overflow: ellipsis;

}

.title, .time {
    margin: 25px;
}
.title {
    font-family: Lato-Reg;
    font-size: 18px;
    white-space: nowrap;
}

.time {
    display: flex;
    justify-content: right;
    font-family: Lato-Bold;
    font-size: 18px;
    width: 75%;
    height: 20px;
}

.clock-img {
    width: 20px;
    margin-right: 5px;
}

p, .ingredientsList {
    font-family: Lato-Bold;
    font-size: 12px;
    margin-left: 25px;
}

p {
    margin-right: 25px;
    height: 100px;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}