//_______________
//TYPO___________
@font-face {
    font-family: DMSans-Bold;
    src: url(../../font/DMSans/DMSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: DMSans-Medium;
    src: url(../../font/DMSans/DMSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Lato-Bold;
    src: url(../../font/Lato/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Lato-Reg;
    src: url(../../font/Lato/Lato-Regular.ttf) format('truetype');
}

$DMBold: DMSans-Bold, "sans-serif";
$DMSans: DMSans-Medium, "sans-serif";
$LatoBold: Lato-Bold, "sans-serif";
$LatoReg: Lato-Reg, "sans-serif";

//_________________
//COLORS___________
$theme: #D04F4F;
$azur: #3282F7;
$mint: #68D9A4;
$salmon: #ED6454;

$BgImg: #C7BEBE;
$BgDecript: #E7E7E7;