//_______________
//TYPO___________
@font-face {
    font-family: DM_Sans-Bold;
    src: url(../Font/DMSans-Bold.ttf);
}

@font-face {
    font-family: DM_Sans;
    src: url(../Font/DMSans-Medium.ttf);
}

// $myBold: "DM_Sans-Bold", "sans-serif";
// $myNatural: "DM_Sans", "sans-serif";

//_________________
//COLORS___________
// $theme: #D04F4F;
// $azur: #3282F7;
// $mint: #68D9A4;
// $salmon: #ED6454;