.contains-bubbles {
   display: flex;
   .bubble-ing {
      position: relative;
      width: 150px;
      height: 30px;
      background-color: $azur;
      border-radius: 5px;
      background-image: url(../../Images/cross-round.svg);
      background-repeat: no-repeat;
      background-size: 17px 17px;
      background-position: 5%;
      margin: 10px 10px 10px 0;
      color: #fff;
      font-family: $LatoReg;
      cursor: pointer;
      span {
         text-align: center;
         padding-top: 5px;
      }
   }
   .bubble-app {
      @extend .bubble-ing;
      background-color: $mint;
   }
   .bubble-ust {
      @extend .bubble-ing;
      background-color: $salmon;
   }
}