.all-ing, .all-app, .all-ust {
   position: absolute;
   top: 100%;
   display: grid;
   max-width: 850px;
   max-height: 300px;
   font-family: Lato-Reg;
   line-height: 25px;
   overflow-y: scroll;
}

.all-ing {
   grid-template-columns: repeat(3, 1fr);
   background-color: $azur;
}

.all-app {
   grid-template-columns: repeat(2, 1fr);
   background-color: $mint;
}

.all-ust {
   grid-template-columns: repeat(3, 1fr);
   background-color: $salmon;
}

.ing-li, .app-li, .ust-li {
   padding: 2px 25px 2px 2px;
   cursor: pointer;
}

.ing-li:hover, .app-li:hover, .ust-li:hover {
   font-weight: bold;
}