.allIngredient, .allAppliance, .allUstensils {
   position: absolute;
   top: 100%;
   display: grid;
   width: 500px;
   height: 300px;
   font-family: Lato-Reg;
   line-height: 25px;
   overflow-y: scroll;
}

.allIngredient {
   grid-template-columns: repeat(3, 1fr);
   background-color: $azur;
}

.allAppliance {
   grid-template-columns: repeat(2, 1fr);
   background-color: $mint;
}

.allUstensils {
   grid-template-columns: repeat(3, 1fr);
   background-color: $salmon;
}

.spanIngredient, .spanAppliance, .spanUstensils {
   cursor: pointer;
}