.sortSection {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    color: #fff;
    .divIngredients {
        font-family: $DMSans;
        position: relative;
        width: 150px;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
        padding-left: 10px;
        .arrowDown {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-100%, -50%);
            cursor: pointer;
            transition: .3s;
        }
        .arrowUp {
            position: absolute;
            top: 40%;
            right: 10%;
            transform: translate(-100%, -50%);
            transform: rotate(180deg);
            cursor: pointer;
            transition: .3s;
        }
    }
    .divDevices {
        @extend .divIngredients;
    }
    .divTools {
        @extend .divIngredients;
    }
    .divIngredients {
        background-color: $azur;
    }
    .divDevices {
        background-color: $mint;
    }
    .divTools {
        background-color: $salmon;
    }
}