.sortSection {
    position: relative;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    .inp-ing {
        position: relative;
        font-family: $DMSans;
        background: url(../../Images/arrowDown.svg) no-repeat;
        background-position: right 15% bottom 50%;
        width: 100px;
        height: 50px;
        line-height: 50px;
        border: none;
        border-radius: 5px;
        margin-right: 25px;
        padding-right: 40px;
        padding-left: 15px;
        color: #fff;
        .arrowDown {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-100%, -50%);
            cursor: pointer;
            transition: .3s;
        }
        .arrowUp {
            position: absolute;
            top: 40%;
            right: 10%;
            transform: translate(-100%, -50%);
            transform: rotate(180deg);
            cursor: pointer;
            transition: .3s;
        }
    }
    .inp-ing::placeholder {
        color: #fff;
    }
    .inp-ing:focus {
        outline: none;
    }
    .inp-app {
        @extend .inp-ing;
    }
    .inp-ust {
        @extend .inp-ing;
    }
    .inp-ing {
        background-color: $azur;
    }
    .inp-app {
        background-color: $mint;
    }
    .inp-ust {
        background-color: $salmon;
    }
}

.selected {
    max-width: 500px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
 }