.sortSection {
    position: relative;
    display: flex;
    width: 500px;
    justify-content: space-between;
    color: #fff;
    .inpIngredients {
        position: relative;
        font-family: $DMSans;
        background: url(../../Images/arrowDown.svg) no-repeat;
        background-position: right 15% bottom 50%;
        width: 100px;
        height: 50px;
        line-height: 50px;
        border: none;
        border-radius: 5px;
        padding-right: 40px;
        padding-left: 15px;
        color: #fff;
        .arrowDown {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-100%, -50%);
            cursor: pointer;
            transition: .3s;
        }
        .arrowUp {
            position: absolute;
            top: 40%;
            right: 10%;
            transform: translate(-100%, -50%);
            transform: rotate(180deg);
            cursor: pointer;
            transition: .3s;
        }
    }
    .inpIngredients::placeholder {
        color: #fff;
    }
    .inpIngredients:focus {
        outline: none;
    }
    .inpAppliance {
        @extend .inpIngredients;
    }
    .inpUstensils {
        @extend .inpIngredients;
    }
    .inpIngredients {
        background-color: $azur;
    }
    .inpAppliance {
        background-color: $mint;
    }
    .inpUstensils {
        background-color: $salmon;
    }
}